@use '../base/colors';
@use '../base/mixins';

.test-strip {
  height: 50px;
  width: 50px;
  position: fixed;
  top:0;
  right:0;
  background-color:rgb(255, 145, 0);
  z-index: 9999;
}

@include mixins.xs {
  .test-strip {
    background-color: yellow;
  }
}

@include mixins.sm {
  .test-strip {
    background-color: green;
  }
}

@include mixins.md {
  .test-strip {
    background-color: rgb(10, 255, 226);
  }
}

@include mixins.lg {
  .test-strip {
    background-color: rgb(27, 23, 255);
  }
}

@include mixins.xl {
  .test-strip {
    background-color: rgb(208, 0, 255);
  }
}

@include mixins.xxl {
  .test-strip {
    background-color: rgb(255, 9, 9);
  }
}

.main {
  position: relative;
  overflow: hidden;
  max-width: 1366px;
  margin: 0 auto !important;
  // &::before {
  //   content: "";
  //   width: 60%;
  //   height: 25%;
  //   background: colors.$bg-linear-gradient-top;
  //   background-size: 100%;
  //   position: absolute;
  //   top: -5%;
  //   right: 0%;
  //   opacity: 0.7;
  //   border-radius: 50%;
  //   z-index: -100;
  //   filter: blur(100px);
  //   transform: rotate(-45deg);
  // }
}

@include mixins.md {
  .main::before {
    opacity: .5;
  }
}

@include mixins.xl {
  .main::before {
    display: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer {
  position: relative;
}