$color-scheme-green:  #fddbdfcf;
$color-scheme-blue: #fddafb;
$text-blue-primary: blue;
$text-rainbow-gradient: #fe0037, #ff7a01, #cfe200, #67f001, #05e2c5, #05e2c5; 
$bg-linear-gradient-top: linear-gradient(90deg, #d7eced 35%, #d7f4dc 65%);
$accent-1: #9cdbf2;
$accent-2: #d0c3ff;
$accent-3: #ffc6cc;





