@use 'colors';
@use '../components/rainbow-circle';

::selection {
  background-color:#fddbdf;
  color:rgb(98, 98, 98);
}


h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 1em;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 3.75rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.heading-container {
  display: flex;
  justify-content: center;
}

.dropcap {
  float: left;
  font-size: 300%;
  color: #242424;
  margin: -11px 7px -13px 0;
  font-weight: bolder;
}

.rainbow {
  background-image: linear-gradient(45deg, colors.$text-rainbow-gradient);
  background-size: 150%;
  background-position: left;
  background-clip: text;
  color: transparent;
  animation: backgroundanimation 2s ease-in-out infinite alternate;
}

.color-text {
  &:active,
  &:hover {
    text-shadow: 0px -4px 0px rgb(67, 67, 67);
    animation: backgroundanimation 2s ease-in-out infinite alternate;
    background-image: rainbow-circle.$rainbow-circle-gradient;
    background-size: 250%;
    background-position: left;
    background-clip: text;
    color: transparent;
  }
}

@keyframes backgroundanimation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}