@use '../base/colors';
@use '../base/mixins';

.btn-primary {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: .7em;
  color: colors.$text-blue-primary;
  padding: 7px 15px;
  display: block;
  text-align: center;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

@include mixins.sm {
  .btn-primary {
    width: 200px;
  }
}

@include mixins.md {
  .btn-primary {
    width: 400px;
  }
}

@include mixins.lg {
  .btn-primary {
    width: 500px;
  }
}
