@use '../base/mixins';

footer p {
    text-align: center;
    font-size: .75rem;
    padding-bottom: .5rem;
}

.footer-gradient-background {
    width: 100%;
    height: 700px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    z-index: -999;
}

.footer-gradient-background::before {
    content: '';
    background-color: #def9e0c7;
    width: 150%;
    height: 120%;
    position: absolute;
    bottom: -50%;
    right: 0;
    z-index: -999;
    border-radius: 50%;
    filter: blur(100px);
}

@include mixins.md {
    .footer-gradient-background {
        height: 1100px;
    }
}

@include mixins.xl {
    .footer-gradient-background {
        height: 1100px;
    }
}