.hero--subsection {
   margin: 2rem 0;
  }

.hero--subsection_col {
  display: flex;
  flex-direction: column;
  align-items: center;

  i {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    text-align: center;
  }
}

.hero--subsection_col:first-of-type {
  margin-bottom: 2rem;

  
}