@use '../base/mixins';

.hero-gradient-container {
    margin: -50px -50px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 250vh;
    z-index: -1;

    .hero-gradient-color_1 {
        width: 700px;
        height: 700px;
        background-color: #c9dfe7;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        opacity: 0.5;
        top: -10%;
        right: -80%;
        filter: blur(140px);
        animation: gradient-color 10s ease-in-out infinite;
    }

    .hero-gradient-color_2 {
        content: '';
        height: 2500px;
        width: 750px;
        background-color: #def9e0;
        border-radius: 35%;
        display: block;
        position: absolute;
        opacity: 0.7;
        top: -500px;
        right: -500px;
        z-index: -2;
        filter: blur(140px);
        transform: rotate(-45deg);
        animation: gradient-color_1 12s ease-in-out infinite;
    }
}

@include mixins.sm {
    .hero-gradient-container {
        .hero-gradient-color_1 {
        right: -40%;
        }
    }
}

@include mixins.md {
    .hero-gradient-container {
        .hero-gradient-color_1 {
        right: -30%;
        }
    }
}
@include mixins.xl {
    .hero-gradient-container {
        .hero-gradient-color_1 {
        right: -20%;
        }
        .hero-gradient-color_2 {
        right:-200px;
        }
    }
}


@keyframes gradient-color {
    0%{ 
        transform: translateY(0)
    }
    25% {
        transform: translateY(-50px)
    }
    50% {
        transform: translateY(0) scale(.5)
    }
    75% {
        transform: translateY(-50px) scale(1)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes gradient-color_1 {
    0% {
        transform: rotate(-45deg) 
    }

    25% {
        transform: rotate(-45deg) scale(1.2) translateY(400px)
    }

    50% {
        transform: rotate(-45deg) scale(1) translateY(0)
    }

    75% {
        transform: rotate(-20deg) scale(.9) translateY(50px)
    }

    100% {
        transform: rotate(-45deg) scale(1) translateY(0)
    }
}

