@use '../base/mixins';
@use '../components/rainbow-circle';

.photowall {

    &__img {
        box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.2);
        transition: all .5s ease-in-out;
        filter: grayscale(10%);
        border-radius: 6px; // remove this if go circlular

        &:hover,
        &:active {
            filter: grayscale(0);
            transform: scale(1.05);
        }
    }

    &__container {

        position: relative;
        max-width: 350px;
        min-height: 350px; // 495 for circle
        margin: 0 auto;
        margin-top: 8rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 290px;
            height: 290px;
            border-radius: 50%;
            background: rainbow-circle.$rainbow-circle-gradient;
            transform: rotate(86deg);
            filter: blur(30px);
        }
    }

    &__photo {
        position: absolute;
        width: 100%;

        &:hover {
            z-index: 100;
        }

        // clip-path: circle(); // turn this on if you want circle imgs
    }

    // Crypto Wall
    &__1 {
        max-width: 250px;
        top: 120px;
        left: 260px;
        z-index: 2;
    }


    // University
    &__2 {
        max-width: 45%;
        top: 100px;
        right: -40px;
        z-index: 1;
    }

    // Red Light
    &__3 {
        max-width: 240px;
        right: 130px;
        top: 180px;
        z-index: 1;
    }


    // B&W
    &__4 {
        max-width: 300px;
        z-index: 4;
        top: -160px;
        left: -50px;
    }

    // Head shot
    &__5 {
        max-width: 40%;
        left: -60px;
        top: 360px;
        z-index: 5;
    }
}

@include mixins.sm {
    .photowall {

        &__container {
            min-height: 450px;
        }

        // Crypto Wall
        &__1 {
            max-width: 280px;
            top: 120px;
            left: 260px;
            z-index: 2;
        }


        // University
        &__2 {
            max-width: 45%;
            top: 100px;
            right: -70px;
            z-index: 1;
        }

        // Red Light
        &__3 {
            max-width: 240px;
            right: 200px;
            top: 180px;
            z-index: 1;
        }


        // B&W
        &__4 {
            max-width: 300px;
            z-index: 4;
            top: -160px;
            left: -50px;
        }

        // Head shot
        &__5 {
            max-width: 40%;
            left: -60px;
            top: 260px;
            z-index: 5;
        }

    }

}


@include mixins.md {
    .photowall {
        &__container {
            &::after {
                filter: blur(40px);
            }
        }

        // Crypto Wall
        &__1 {
            max-width: 320px;
            top: 120px;
            left: 260px;
            z-index: 2;
        }


        // University
        &__2 {
            max-width: 55%;
            top: 50px;
            right: -120px;
            z-index: 1;
        }

        // Red Light
        &__3 {
            max-width: 320px;
            right: 200px;
            top: 180px;
            z-index: 1;
        }


        // B&W
        &__4 {
            max-width: 300px;
            z-index: 4;
            top: -160px;
            left: -50px;
        }

        // Head shot
        &__5 {
            max-width: 40%;
            left: -60px;
            top: 260px;
            z-index: 5;
        }
    }
}

@include mixins.lg {
    .photowall {

        &__container {
            max-width: 550px;
            min-height: 600px;
        }
        // Crypto Wall
        &__1 {
            max-width: 280px;
            top: 370px;
            left: 260px;
            z-index: 2;
        }


        // University
        &__2 {
            max-width: 65%;
            top: 200px;
            right: -205px;
            z-index: 1;
        }

        // Red Light
        &__3 {
            max-width: 420px;
            right: 340px;
            top: 180px;
            z-index: 5;
        }


        // B&W
        &__4 {
            max-width: 500px;
            z-index: 4;
            top: -110px;
            left: -50px;
        }

        // Head shot
        &__5 {
            max-width: 40%;
            left: -80px;
            top: 90px;
            z-index: 5;
        }
    }
}

@include mixins.xl {
    .photowall {

        &__container {
            max-width: 550px;
        }
        // Crypto Wall
        &__1 {
            max-width: 280px;
            top: 380px;
            left: 260px;
            z-index: 2;
        }


        // University
        &__2 {
            max-width: 65%;
            top: 200px;
            right: -255px;
            z-index: 1;
        }

        // Red Light
        &__3 {
            max-width: 460px;
            right: 340px;
            top: 180px;
            z-index: 5;
        }


        // B&W
        &__4 {
            max-width: 550px;
            z-index: 4;
            top: -130px;
            left: -50px;
        }

        // Head shot
        &__5 {
            max-width: 40%;
            left: -80px;
            top: 90px;
            z-index: 5;
        }
    }

}