@use '../base/mixins';
@use '../components/rainbow-circle';

.photowall {
    &__img {
        box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.2);
        transition: all .5s ease-in-out;
        filter: grayscale(10%);
        border-radius: 6px; // remove this if go circlular

        &:hover,
        &:active {
            filter: grayscale(0);
            transform: scale(1.05);
        }
    }

    &__container {
        max-width: 350px;
        min-height: 350px; // 495 for circle
        margin: 0 auto;
        margin-top: 8rem;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 290px;
            height: 290px;
            border-radius: 50%;
            background: rainbow-circle.$rainbow-circle-gradient;
            transform: rotate(86deg);
            filter: blur(30px);
        }
    }

    &__photo {
        position: absolute;
        width: 100%;

        &:hover {
            z-index: 100;
        }

        // clip-path: circle(); // turn this on if you want circle imgs
    }

    // Crypto Wall
    &__1 {
        max-width: 250px;
        top: 120px;
        left: 0;
        z-index: 2;
    }


    // University
    &__2 {
        max-width: 65%;
        z-index: 1;
        top: -30px;
        right: -100px;
    }

    // Red Light
    &__3 {
        max-width: 240px;
        right: 130px;
        top: 330px;
        z-index: 1;
    }


    // B&W
    &__4 {
        max-width: 240px;
        z-index: 4;
        top: -160px;
        left: -75px;
    }
}

@include mixins.sm {
    .photowall {

        &__container {
            margin-top:11rem;
            min-height: 450px;
        }
        // Crypto Wall
        &__1 {
            top: 150px;
            left: -40px;
        }


        // University
        &__2 {
            max-width: 85%;
            top: -140px;
            right: -140px;
        }

        // Red Light
        &__3 {
            max-width: 340px;
            right: -100px;
            top: 230px;
        }

        // B&W
        &__4 {
            max-width: 300px;
            top: -90px;
            left: -75px;
        }
    }

}

@include mixins.md {
    .photowall {
        &__container {
            &::after {
                filter: blur(40px);
                // display: none;
                // right:-50px;
            }
        }
    }

}