.player {
  display: flex;
  flex-direction: reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &--reverse {
    flex-direction: row-reverse;

  }

  &__caption {
    font-size: 0.75rem;
    margin-top: 1rem;
    text-align: center;
  }

  &__controls {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
    max-height: 20px;
  }

  &__btn {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 10;
  }

  &__duration {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    font-size: 0.55rem;
  }

  &__progress {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 59px;
    z-index: 1;
  }
}

.space-around {
  justify-content: space-around;
}