@use '../base/mixins';

$rainbow-circle-gradient-alt: linear-gradient(45deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
$rainbow-circle-gradient: linear-gradient(82deg, #defeed 40%, #dadafd 55%, 20%, #fddafb 65%, 75%, #fddbdf 65%);
$rainbow-circle-bg-color: #fff;

.rainbow-circle {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: $rainbow-circle-gradient;
  filter: blur(5px);
  cursor: pointer;
  animation: rotate 22s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rainbow-circle::before {
  content: "";
  position: absolute;
  inset: 18px;
  background-color: $rainbow-circle-bg-color;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
}

.rainbow-circle::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: $rainbow-circle-gradient;
  border-radius: 50%;
  z-index: 1;
  filter: blur(10px);
  pointer-events: none;
}

.rainbow-circle__container {
  width: 160px;
  margin: 0.25rem 0;
  position: relative;
}

.rainbow-circle__inner {
  max-width: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $rainbow-circle-bg-color;
}

@include mixins.lg {
  .rainbow-circle {
    width: 240px;
    height: 240px;

    &__container {
      width: 240px;
    }
    &__inner {
      max-width: 100px;
    }
  }
}