.social-links-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-icons {
  max-width: 165px;
  margin: 1.25rem 0;
  border: 1px solid black;
  border-radius: 80%;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.9rem;

  &--footer {
    max-width: 145px;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 1.5rem 0;
  }

  a {
    width: 28px;
    height: 35px;
    transition: all 150ms ease;

    &:hover {
      padding-top: 3px;
    }
    
  }

  svg[class^="svg"] {
    width: 15px;
    height: auto;
    margin: 10px;
  }
}