.social-links-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-icons {
    margin: 1.5rem 0;
    width: 66%;
    border: solid 1px black;
    border-radius: 80%;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  svg[class^="svg"] {
    width: 24px;
    height: auto;
    margin: 10px;
  }
}